@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Economica:ital,wght@0,400;0,700;1,400;1,700&family=Foldit:wght@100..900&family=Plaster&family=Rajdhani:wght@300;400;500;600;700&family=Unica+One&display=swap');

.plaster-regular {
    font-family: "Plaster", system-ui;
    font-weight: 400;
    font-style: normal;
}

.economica-regular {
    font-family: "Economica", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.economica-bold {
    font-family: "Economica", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.economica-regular-italic {
    font-family: "Economica", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.economica-bold-italic {
    font-family: "Economica", sans-serif;
    font-weight: 700;
    font-style: italic;
}


.foldit {
    font-family: "Foldit", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}


.rajdhani-light {
    font-family: "Rajdhani", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.rajdhani-regular {
    font-family: "Rajdhani", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.rajdhani-medium {
    font-family: "Rajdhani", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.rajdhani-semibold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.rajdhani-bold {
    font-family: "Rajdhani", sans-serif;
    font-weight: 700;
    font-style: normal;
}


.table-container {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    overflow-x: auto;
}

.responsive-table {
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}

.responsive-table th,
.responsive-table td {
    padding: 0.75rem 1rem;
    text-align: left;
}

@media (max-width: 600px) {

    .responsive-table th,
    .responsive-table td {
        padding: 0.5rem;
        font-size: 0.9rem;
    }

}

body {
    background-color: black;
}

button {
    width: 400px;
    max-width: 600px;
    min-height: 100px;
    height: 200px;
    font-size: 1.25rem;
    font-family: "rajdhani", cursive;
    color: white;
}

.button-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

@media screen and (max-width: 600px) {
    .button-container button {
        width: 90%;
        height: auto;
        aspect-ratio: 2/1;
    }
}


.button_1 button {
    background-image: url('https://t3.ftcdn.net/jpg/14/34/22/82/360_F_1434228231_ttxqmmN7Vl6ebuYdqBbH0aDA8I4BMi21.jpg');
    background-repeat: no-repeat;
}

.button_2 button {
    background-image: url('https://t4.ftcdn.net/jpg/14/77/59/57/360_F_1477595764_ekTFh212AKh1pCGpJjJw4uFaiPiPJbAD.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.button_3 button {
    background-image: url('https://t3.ftcdn.net/jpg/09/34/70/52/360_F_934705227_Z9odkAhXXPtNql01UQpG9qBP06tm7ovU.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.button_4 button {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/052/261/563/small_2x/futuristic-alien-cityscape-with-shadowy-spires-under-a-cosmic-sunset-showcasing-a-mesmerizing-blend-of-sci-fi-and-fantasy-in-an-uncharted-world-video.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.button_5 button {
    background-image: url('https://t4.ftcdn.net/jpg/07/24/47/15/360_F_724471562_jxRrZBXK9LT7WJboWGMQWytSeFHiyAgX.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.button_6 button {
    background-image: url('https://static.vecteezy.com/system/resources/thumbnails/043/542/631/small/red-comic-cartoon-background-design-template-vector.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.button_7 button {
    background-image: url('https://img.pikbest.com/wp/202406/percussion-instrument-wallpaper-background-with-colorful-instruments_9607668.jpg!f305cw');
    background-repeat: no-repeat;
    background-size: cover;
}

.button_8 button {
    background-image: url('https://www.shutterstock.com/image-photo/studio-microphone-pop-shield-on-600nw-1831180186.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.piano button {
    background-image: url('https://png.pngtree.com/background/20250125/original/pngtree-background-of-piano-keyboard-close-up-electronic-piano-keys-picture-image_15519369.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.guitar button {
    background-image: url('https://t4.ftcdn.net/jpg/05/06/67/21/360_F_506672143_3SnTCzPF6Bfz5ipHShUBu4EWrgUlK0IU.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.violin button {
    background-image: url('https://images8.alphacoders.com/391/thumb-1920-391320.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.flute button {
    background-image: url('https://st4.depositphotos.com/1356916/21147/i/450/depositphotos_211470966-stock-photo-flute-instrument-flutist-hands-playing.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.drums button {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20231006/pngtree-d-render-of-a-sleek-black-professional-drum-kit-in-a-image_13534256.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.pop button {
    background-image: url('https://media.gettyimages.com/id/1127455724/video/disco-boombox-party.jpg?s=640x640&k=20&c=uPYWO196ueNDjHj7V4hZpaXygauVJMliEnVYHBJd8T4=');
    background-repeat: no-repeat;
    background-size: cover;
}

.jpop button {
    background-image: url('https://www.shutterstock.com/shutterstock/videos/1108263521/thumb/1.jpg?ip=x480');
    background-repeat: no-repeat;
    background-size: cover;
}

.kpop button {
    background-image: url('https://media.istockphoto.com/id/1499970901/vector/golden-stadium-lights-with-rays-on-a-dark-background.jpg?s=612x612&w=0&k=20&c=EBkX92BcZHlxeLNhE6Q07DIqu7u4PqlTvORpDqM7FTY=');
    background-repeat: no-repeat;
    background-size: cover;
}

.bollywood button {
    background-image: url('https://www.shutterstock.com/image-photo/vintage-blackandwhite-film-reel-unwinding-600nw-2614125337.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.european button {
    background-image: url('https://img.freepik.com/premium-vector/silver-metal-studio-microphone-dark-background-with-map-europe-music-festival-background_141155-189.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.cpop button {
    background-image: url('https://img.pikbest.com/backgrounds/20220119/classical-music-ink-style-pipa_6243912.jpg!sw800');
    background-repeat: no-repeat;
    background-size: cover;
}

.allcombine button {
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230713/pngtree-3d-renderings-of-musical-instruments-image_3886081.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.hidden {
    display: none;
}

.sample {
    margin: 24px;
    text-align: center;
    vertical-align: top;
    display: inline-block;
}

.sample p {
    color: white;
    font-size: 20px;
    display: inline-block;
    margin: 8px 0 8px 0;
    
}

.sample audio {
    max-width: 300px;
    display:block;
    margin:0 auto;
}

a {
    color:white;
}

.content {
    display:flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap:20px;
}

.header-content {
    display: flex;
    flex-wrap: wrap;
}